/* RESET BÁSICO */
body {
    background-color: #0a0a0a;
    color: white;
    cursor: none; /* Ocultamos el mouse normal */
}

/* --- CURSOR NAVAJA NEÓN --- */
#razor-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 32px; /* Tamaño moderado */
    height: 32px;
    z-index: 9999;
    pointer-events: none;
    
    background-image: url('https://cdn-icons-png.flaticon.com/512/74/74236.png');
    background-size: contain;
    background-repeat: no-repeat;
    
    /* filter: invert(1) -> Vuelve la imagen blanca 
       drop-shadow -> Crea el resplandor NEÓN (Cian/Verde)
    */
    filter: invert(1) drop-shadow(0 0 4px #00ffcc) drop-shadow(0 0 8px #00ffcc);
    
    transform: translate(-50%, -50%) rotate(-25deg);
    transition: transform 0.08s ease; /* Muy rápido para precisión */
    will-change: transform;
}

/* Efecto al pasar sobre botones (Corte) */
#razor-cursor.hovered {
     transform: translate(-50%, -50%) scale(1.3) rotate(-55deg);
     filter: invert(1) drop-shadow(0 0 8px #D4AF37) drop-shadow(0 0 15px #D4AF37); /* Cambia a resplandor dorado */
}

/* --- CLASES UTILITARIAS --- */
.hero-bg {
    background-image: url('https://images.unsplash.com/photo-1503951914875-befca642e3ca?q=80&w=2070&auto=format&fit=crop'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Efecto Parallax */
}

/* Scroll Reveal */
.reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease-out;
}
.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

/* Input de fecha Dark Mode */
::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}